.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.footer__copyright {
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer__copyright {
    line-height: 14px;
  }
}
