.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  max-width: 300px;
  margin-top: 10px;
  padding-bottom: 92px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  max-width: 720px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 97px;
  line-height: 1.5;
  text-align: center;
}

.header__subheading {
  max-width: 720px;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}

.header__content-image {
  max-width: 990px;
  margin: auto;
}

.header__image {
  width: 100%;
  height: 400px;
  object-fit: contain;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
  }

  .header__image {
    height: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__logo {
    max-width: 190px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .header__title {
    max-width: 220px;
    font-size: 40px;
    line-height: 1;
  }

  .header__image {
    height: 250px;
  }
}
