.main__title {
  max-width: 830px;
  font-family: "inter", sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
}

.main__paragraph {
  max-width: 740px;
  font-size: 24px;
  line-height: 1.3;
}

.main__paragraph_quote-text_left {
  text-align: left;
  margin: 40px 0 10px;
  padding: 0;
}

.main__paragraph_quote-name_right {
  text-align: right;
  margin: 0;
  padding: 0;
  position: relative;
  right: 6px;
}

.main__paragraph main__paragraph_size-s {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .main__title {
    max-width: 710px;
    font-size: 45px;
    line-height: 0.8;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .main__title {
    font-size: 40px;
    line-height: 1;
  }

  .main__paragraph {
    line-height: 1.1;
  }
}
