body {
  margin: 0;
  background-color: #2a2c2f;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #2a2c2f;
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .page {
    padding: 0 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .page {
    padding: 0 20px;
  }
}
