.places__main {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.places__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px repeat(3, 1fr) 50px;
  grid-gap: 48px 40px;
}

.places__title {
  max-width: 460px;
  font-size: 72px;
  line-height: 0.9;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  font-weight: 900;
}

.places__image {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.places__buttom {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
  grid-column: 1 / 3;
  grid-row: 5;
}

.places__artist {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 460px;
  grid-column: span 3;
  padding-top: 12%;
}

.places__artist__title {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.places__artist__subtext {
  line-height: 22px;
  margin: 0;
}

.places__text {
  max-width: 484px;
  line-height: 1.6;
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
}

.places__title-s {
  max-width: 460px;
  font-size: 55px;
  line-height: 0.9;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  font-weight: 900;
}

.places__photo__item {
  object-fit: cover;
}
