.places__main {
  max-width: 990px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 auto 76px;
}

.places__content {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 125px repeat(3, 1fr) 50px;
  grid-gap: 48px 40px;
}

.places__title {
  max-width: 460px;
  font-size: 72px;
  line-height: 0.9;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  font-weight: 900;
}

.places__image {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
}

.places__buttom {
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px #00000040;
  border-radius: 5px;
  grid-column: 1 / 3;
  grid-row: 5;
}

.places__buttom:hover {
  opacity: 0.5;
}

.places__artist {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 460px;
  grid-column: span 3;
  padding-top: 12%;
}

.places__artist__title {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 3px;
}

.places__artist__subtext {
  line-height: 22px;
  margin: 0;
}

.places__text {
  max-width: 484px;
  line-height: 1.6;
  grid-column: span 3;
  grid-row: span 3;
  margin: 0;
}

.places__title-s {
  max-width: 460px;
  font-size: 55px;
  line-height: 0.9;
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  font-weight: 900;
}

.places__photo__item {
  object-fit: cover;
}

.places__photo__item:hover {
  opacity: 0.5;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .places__main {
    max-width: 720px;
  }

  .places__content {
    grid-template-rows: 90px 1fr repeat(2, 50px);
    align-items: center;
  }

  .places__title {
    font-size: 40px;
    line-height: 46px;
    padding-top: 12%;
  }

  .places__title-s {
    font-size: 40px;
    line-height: 46px;
    padding-top: 12%;
  }

  .places__image {
    max-width: 340px;
    max-height: 340px;
    grid-row: 2 / 4;
  }
  .places__photo__item {
    width: 100%;
    height: max-content;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }
  .places__buttom {
    grid-column: 1 / 4;
    grid-row: 4;
    font-size: 14px;
  }
  .places__artist {
    padding: 10;
  }

  .places__artist__title {
    font-size: 12px;
    color: #aaa;
    letter-spacing: 3px;
  }
  .places__artist__subtext {
    line-height: 22px;
    margin: 0;
  }
  .places__text {
    line-height: 22px;
    margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .places__main {
    display: block;
    max-width: 320px;
    gap: 50px;
    margin: 0 auto 65px;
  }
  .places__content {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 0fr) 50px;
    grid-gap: 30px 0;
  }
  .places__title {
    font-size: 32px;
    line-height: 35px;
  }

  .places__title-s {
    font-size: 32px;
    line-height: 35px;
  }

  .places__image {
    max-width: 320px;
    max-height: 320px;
    grid-column: 1;
    grid-row: 3;
  }
  .places__photo__item {
    width: 100%;
    height: max-content;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }
  .places__buttom {
    height: max-content;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  }
  .places__artist {
    padding: 0;
    grid-column: 1;
    grid-row: 2;
  }
  .places__artist__title {
    grid-column: 1;
    grid-row: 2;
  }
  .places__artist__subtext {
    max-width: 290px;
    grid-column: 1;
    grid-row: 4;
  }
  .places__text {
    max-width: 290px;
    grid-column: 1;
    grid-row: 4;
  }
}
